<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>n</name>
          <description>Please enter the choice [0-6] :</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>0</string>
              <string>1</string>
              <string>2</string>
              <string>3</string>
              <string>4</string>
              <string>5</string>
              <string>6</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;You entered $n&quot;

case $n in
        0)
                echo &quot;today is Sunday&quot; ;;
        1)
                echo &quot;today is Monday&quot; ;;
        2)
                echo &quot;today is Tuesday&quot; ;;
        3)
                echo &quot;today is Wednesday&quot; ;;
        4)
                echo &quot;today is Thursday&quot; ;;
        5)
                echo &quot;today is Friday&quot; ;;
        6)
                echo &quot;today is Saturday&quot; ;;
esac</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>